@charset "UTF-8";
#content {
    justify-content:center;
    align-items: flex-start;
    margin-top: 20px;
}   

h2 {
    font-size: 30px;
}

.high-scores{
    width:760px;
    font-size: 30px;
}

.high-score {
    font-size: 20px;
    margin-bottom: 10px;
}
.row{
    display:flex;
    justify-content: space-between;
    width:200px;
}
#menus h2{
    text-align: flex-start;
}

