@charset "UTF-8";

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 2px solid black;
    background-color: #ffffff;
}

.back-button {
    position: absolute;
    top: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    text-decoration: none;
    color: #000; /* Button text color */
    font-size: 16px; /* Adjust as needed */
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
    font-family: Arial, sans-serif; /* Match your design */
}

.back-button::after {
    content: '';
    display: block;
    width: 0;
    height: 2px; /* Underline thickness */
    background: #000; /* Underline color */
    transition: width 0.3s;
}

.back-button:hover::after {
    width: 100%;
}

